version: "3.9"

services:
  chroma:
    image: chromadb/chroma:latest
    container_name: chroma
    ports:
      - "8000:8000"
    restart: unless-stopped

  api:
    image: node-api
    container_name: node-api
    ports:
      - "3002:3002"
    depends_on:
      - chroma
    restart: unless-stopped
